body {
	margin:0px;
    -webkit-user-select:none;
    -webkit-touch-callout:none;
}
#header {
	background-image:url(../images/header_land.png);
	width:239px;
	height:100%;
	position:fixed;
	top:0;
}
#content {
	padding-left:239px;
	padding-top:10px;
}
#apps {
	text-align:center;
	color:#000;
	font-weight:bold;
	font-size:16px;
	width:70px;
	margin-left:160px;
	margin-top:-150px;
}
#games {
	text-align:center;
	color:#000;
	font-weight:bold;
	font-size:16px;
	width:70px;
	margin-left:160px;
	margin-top:20px;
}
#account {
	text-align:center;
	color:#000;
	font-weight:bold;
	font-size:16px;
	width:70px;
	margin-left:160px;
	margin-top:20px;
}
#slider {
	width:100%;
	height:140px;
}
#star {
	background-color:#cccccc;
	width:17px;
	height:17px;
	float:left;
}
.blue_star {
	background-color:#1e90ff !important;
}
#install {
	background-color:#44463b;
	width: 100px;
	text-align:center;
	height:25px;
	color:#FFF;
	font-weight:bold;
	float: right;
	margin-right:30px;
	padding-top:5px;
}
